<!DOCTYPE html>
<html>
<head>
  <title>SeeSVee</title>
  <%= stylesheet_link_tag    "see-s-vee/application", :media => "all" %>
  <%= javascript_include_tag "see-s-vee/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
